<em>This crop of code is created by the Global AI Hub and cannot be used without referring to the company. </em>

In [1]:
#Python as a calculator

## Python as a calculator

In [4]:
3+5

8

## Print Function

In [5]:
print()

In [6]:
print(4+6)

10

In [7]:
print(7)

7

In [9]:
print("7")

7

In [8]:
print("Hello World")  #printing strings

Hello World

In [10]:
print('Hello World')

Hello World

In [11]:
print("Hello1")
print("Hello2")
print("Hello3")

Hello1
Hello2
Hello3

In [12]:
print "Hello World"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello World")? (<ipython-input-12-2e860ebf713e>, line 1)

In [13]:
print(Hello) #Hello is a variable

NameError: name 'Hello' is not defined

In [14]:
print("Hello')

SyntaxError: EOL while scanning string literal (<ipython-input-14-21f0c5b97628>, line 1)

## Commenting

In [15]:
#commenting
#taking notes

In [17]:
"""
Hello world
dbashjdghjgas
"""

'''
aefdfhd
asgfsfjdgm
zfhdfhjgjm
sgrsfgjdgjm
'''

'\naefdfhd\nasgfsfjdgm\nzfhdfhjgjm\nsgrsfgjdgjm\n'

## Variable Assignment

In [26]:
n = 300

In [19]:
n

300

In [20]:
print(n)

300

In [21]:
type(n) #checking the type of a variable

int

In [25]:
type(1000)

int

In [27]:
m = n

In [23]:
print(m)

300

In [24]:
m = 400

In [28]:
n = 500

In [29]:
m

300

In [30]:
print(type(m))

<class 'int'>

In [31]:
hello = "World"

In [32]:
print(hello) #printing variables

World

In [33]:
print("World")

World

In [34]:
print(type(hello))

<class 'str'>

In [35]:
t = 3.5
print(type(t))

<class 'float'>

In [37]:
t = True #assigning booleans

In [38]:
f = False

In [40]:
print(type(f))

<class 'bool'>

In [ ]:
t, f = True, False
print(type(t))

In [41]:
print(len(hello)) #len function

5

In [42]:
print(len(m))

TypeError: object of type 'int' has no len()

In [43]:
len(gizem)

NameError: name 'gizem' is not defined

In [44]:
name = "Gizem"
print(f'Hello {name}')  #F-String

Hello Gizem

In [45]:
print(f'I have {m} books')

I have 300 books

In [47]:
type("#Gizem")

str

## Computations

In [49]:
5**2

25

In [55]:
35-67

-32

In [50]:
"35"+"67"

'3567'

In [51]:
"35" + 67

TypeError: can only concatenate str (not "int") to str

In [52]:
5 * 2

10

In [53]:
"35"*3

'353535'

In [54]:
"hello"*4

'hellohellohellohello'

In [56]:
x = 10

In [57]:
print(x+2)

12

In [58]:
print(x-2)

8

In [59]:
print(x*2)

20

In [60]:
print(x**2)

100

In [61]:
print(x/2)

5.0

In [62]:
print(x%2)

0

In [64]:
y = 13

In [65]:
print(y/2)

6.5

In [66]:
print(y%2)

1

In [68]:
z = 5

In [69]:
z*2

10

In [70]:
z

5

In [71]:
z+1

6

In [72]:
z = z+1

In [73]:
z

6

In [ ]:
z += 1

In [ ]:
z

In [74]:
z = z*2

In [ ]:
z*=2
z

In [75]:
6 + 4.5

10.5