# Functions

Functions are blocks of code that can be used over and over again to perform a specific action.

As we know, in Python, there are print (), len () etc. Many available functions are defined.

We can use it in our own code by providing access to functions defined in libraries, modules and packages. These are called predefined functions, embedded functions (built-in) or library functions. We can use ready-made functions as well as create our own functions. (User-defined)


Functions prevent code repetition and our code stays more modular and organized.


*****

def "function_name"(parameter1,parameter2,..):


> "Do something"

  return "return something"  (depends on functionality)

In [ ]:
def hello():
  print("Hello Everyone!!")

In [ ]:
hello()#calling the func   #the functions don't have any parameters

Hello Everyone!!

In [ ]:
hello()

Hello Everyone!!

In [ ]:
def hello(name):
  print("Hello " + name)

In [ ]:
hello("Asli")

Hello Asli

In [ ]:
def func1():
  print("Hello World!!")


func1()
print("asddasdasd")
func1()

Hello World!!
asddasdasd
Hello World!!

In [ ]:
def summ(a,b):
  sum1 = a + b
  print(sum1)

In [ ]:
summ(6,7)

13

In [ ]:
list1 = [1,2,3,4,5]
sum1 = a + b

In [ ]:
t = summ(8,9)
print(t)

17
None

In [ ]:
def func(x,y):
  summ = x + y
  multip = x * y
  return (summ,multip)

In [ ]:
t,c = func(23,45)

print(t,c)

68 1035

In [ ]:
func(3,5)

(8, 15)

In [ ]:
x = 5 
y = 4
x,y = y,x
print(x,"and",y)

4 and 5

In [ ]:
print("Sum of the values: " + str(t) + ", Multiplying of the values: " + str(c))

Sum of the values: 68, Multiplying of the values: 1035

In [ ]:
#Let's write a function that it will square the entered number, but will be terminated when you enter the number 5 and give us an error message.

def sqr(x):
  if x == 5:
    return ("Terminated because you entered 5")

  result = x **2
  return (result)

In [ ]:
3 ** 4

81

In [ ]:
sqr(10)

100

In [ ]:
sqr(5)

32

In [ ]:
d = sqr(5)
print(d)

hello world
25

In [ ]:
def sqr1(x):
  if x == 5:
    return (len("Terminated because you entered 5"))

  result = x **2
  return (result)

In [ ]:
sqr1(5)

32

In [ ]:
# Let's write a function that tells you whether the entered number is positive, negative or zero.


def func(x):
  if x > 0:
    return ("Positive")
  elif x < 0:
    return ("Negative")
  else:
    return ("Zero")

In [ ]:
for i in [-2,5,6,0,-4,-7]:
  print(func(i))

Negative
Positive
Positive
Zero
Negative
Negative

In [ ]:
# factorial calculation


def factorial(num):
  factorial = 1
  if (num == 0 or num == 1):
    print("Factorial: ", factorial)
  else:
    while (num >= 1):
      factorial = factorial * num
      num -= 1 
    print("Factorial: ", factorial)

In [ ]:
factorial(5)

Factorial:  120

In [ ]:
# 5* 4* 3* 2* 1 = 120

In [ ]:
#using for loop

def factorial2(num2):
  factorial2 = 1
  if (num2 == 0 or num2 == 1):
    print("Factorial: ", factorial2)
  else:
    for i in range(factorial2, num2+1):
       factorial2 = factorial2 * i      
    print("Factorial: ", factorial2)

In [ ]:
x = factorial2(5)
x

Factorial:  120

In [ ]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
def factorial3(nums):
  factorial3 = 1
  if (nums == 0 or nums == 1):
    return ("Factorial: ", factorial3)
  else:
    for i in range(factorial3, nums+1):
       factorial3 *= i      
    return ("Factorial: ", factorial3)

In [ ]:
x = factorial3(6)
print(x)

('Factorial: ', 720)

In [ ]:
def hello2(name, capLetter = False):
  if capLetter:
    print("Hello " + name.upper())
  else:
    print("Hello " + name)

In [ ]:
hello2("Asli")

Hello Asli

In [ ]:
hello2("Asli", capLetter= True)

Hello ASLI

In [ ]:
def multp(*args):
  result = 1
  for i in args:
    result = result * i
  print(result) 


# *args keeps the data as tuple type.

In [ ]:
multp(4,5,6,7,8)

6720

In [ ]:
multp(2,3,4,5)

120

In [ ]:
def salaryCalc(salary):

  if salary < 0:
    return("Invalid value")
  else:
    if 0 < salary <= 1000:
      salary = salary + salary * 0.15
    elif salary <= 2000:
      salary = salary + salary * 0.1
    elif salary <= 3000:
      salary = salary + salary * 0.05
    else:
      salary = salary + salary * 0.025

    return ("New salary: ", salary)

In [ ]:
salaryCalc(-5)

'Invalid value'

In [ ]:

def salaryCalc2():

  salary = float(input("Please enter your current salary: "))

  if salary < 0:
    return("Invalid value")
  else:
    if 0 < salary <= 1000:
      salary = salary + salary * 0.15
    elif salary <= 2000:
      salary = salary + salary * 0.1
    elif salary <= 3000:
      salary = salary + salary * 0.05
    else:
      salary = salary + salary * 0.025

    return ("New salary: ", salary)

In [ ]:
new_salary = salaryCalc2() 
print(new_salary)

Please enter your current salary: 800
('New salary: ', 920.0)

In [ ]:
def carpma(x,y):
    return x * y

carpma(3,5)

15

In [ ]:
def func_args(*numbers):
    print(numbers)

func_args(5,6,7,8,9)
func_args(100,"Global AI Hub")

(5, 6, 7, 8, 9)
(100, 'Global AI Hub')

In [ ]:
def func_args(*args):
    for i in args:
        print(i)

liste = [10,4.4,'Ahmet',True,"Istanbul",33,9.8]
func_args(liste)

[10, 4.4, 'Ahmet', True, 'Istanbul', 33, 9.8]

In [ ]:
#kwargs
def func_kwargs(**number):
    print(number)
    
func_kwargs(num1 = 'Ankara', num2 = 'Kocaeli', num3 = True, num4 = 3.14)

{'num1': 'Ankara', 'num2': 'Kocaeli', 'num3': True, 'num4': 3.14}

### Let's write a function that returns a random word from a list.

###Modules

import numpy as np

import tensorflow as tf

import myModules as my_mod

myModules.myFunc()

from myModules import *

myFunc()

In [ ]:
#calling a function from myModules
my_mod.sum()
my_mod.multiple()

In [ ]:
words = ["artificial","intelligence","machine","learning","python","programming"]


#from random import *
import random as rnd

def randomWord(words):
  index = rnd.randint(0, len(words)-1)
  return words[index]

In [ ]:
len(words)

6

In [ ]:
word = randomWord(words)
print(word)

machine

###Global & Local Variables

In [ ]:
x = 5

print(x)

5

In [ ]:
def display():
  x = 4
  return(x)

In [ ]:
display()

4

In [ ]:
print(x)

5

## Methods

Functions are called by name, it can take parameters inside and optionally the resulting value can be used outside of the function.


Methods are also called by name, in many ways they are like functions, but calling is performed through an object such as a String or list.


object.methodName(parameter)

In [ ]:
s = input("Please enter a name: ")

upper = s.capitalize()

print(upper)

Please enter a name: omer
Omer

In [ ]:
#return the index of the element with the highest value in a given list.

myList = [45,7,23,6,12,78]

maxElement = max(myList)

print(maxElement)

maxIndex = myList.index(maxElement)

print(maxIndex)

78
5