# Exceptions 

* Programmer Errors 
* Program Bugs 
* Exceptions

In [ ]:
# error example,SyntaxError.

print "Hello World!"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello World!")? (<ipython-input-1-c7f6c99ffc2b>, line 3)

In [ ]:
#bug example.

num1 = input("Enter the first integer: ")
num2 = input("Enter the second integer: ")

print(num1, "+", num2, "=", num1 + num2)

Enter the first integer: 5
Enter the second integer: 7
5 + 7 = 57

In [ ]:
#exception example, TypeError.

num3 = int(input("First integer: "))
num4 = int(input("Second integer: "))

print(num3, "/",num4, "=", num3 / float(num4))

First integer: 32
Second integer: 65
32 / 65 = 0.49230769230769234

In [ ]:
int(3)

3

In [ ]:
#ValueError
int("Hello World")

ValueError: invalid literal for int() with base 10: 'Hello World'

In [ ]:
# ZeroDivisionError.


num3 = int(input("First integer: "))
num4 = int(input("Second integer: "))

print(num3, "/",num4, "=", num3/num4)

First integer: 9
Second integer: 0

ZeroDivisionError: division by zero

In [ ]:
3 + 5

8

In [ ]:
#bug example.

num1 = int(input("Enter the first integer: "))
num2 = int(input("Enter the second integer: "))

print(num1, "+", num2, "=", num1 + num2)

Enter the first integer: 3
Enter the second integer: 6
3 + 6 = 9

##Exception Handling


try:


> the situations where we can get exceptions

except "Exception Name":


> the operations in case of exceptions

In [ ]:
x = "Alan Turing"

int(x)

ValueError: invalid literal for int() with base 10: 'Alan Turing'

In [ ]:
try:
  int(x)

except ValueError:
  print("Please enter an integer value!!!")

Please enter an integer value!!!

In [ ]:
num3 = input("First integer: ")
num4 = input("Second integer: ")

try:
  num3_int = int(num3)
  num4_int = int(num4)

  print(num3_int, "/",num4_int, "=", num3_int/num4_int)

except ValueError:
  print("Please enter an integer value!!!")

First integer: 56
Second integer: 79
56 / 79 = 0.7088607594936709

In [ ]:
num3 = input("First integer: ")
num4 = input("Second integer: ")

try:
  num3_int = int(num3)
  num4_int = int(num4)

  print(num3_int, "/",num4_int, "=", num3_int/num4_int)

except ZeroDivisionError:
  print("Please enter the second input different than 0 value!!!")

First integer: 67
Second integer: 0
Please enter the second input different than 0 value!!!

In [ ]:
num3 = input("First integer: ")
num4 = input("Second integer: ")

try:
  num3_int = int(num3)
  num4_int = int(num4)

  print(num3_int, "/",num4_int, "=", num3_int/num4_int)

except ValueError:
  print("Please enter an integer value!!!")
except ZeroDivisionError:
  print("Please enter the second input different than 0 value!!!")
except:
  print("Unknown error...")

In [ ]:
num3 = input("First integer: ")
num4 = input("Second integer: ")

try:
  num3_int = int(num3)
  num4_int = int(num4)

  print(num3_int, "/",num4_int, "=", num3_int/num4_int)

except (ValueError, ZeroDivisionError):
  print("Error!!!")

In [ ]:
#try/except/as


num3 = input("First integer: ")
num4 = input("Second integer: ")

try:
  num3_int = int(num3)
  num4_int = int(num4)

  print(num3_int, "/",num4_int, "=", num3_int/num4_int)

except ValueError as error:
  print("Error!!!")
  print("Error message: ", error)

In [ ]:
#exception handling in loop structure


while True:
    num1 = input("First number: (Press q for quit the program): ")

    if num1 == "q":
        break

    num2 = input("Second number: ")

    try:
        num1_int = int(num1)
        num2_int = int(num2)
        print(num1_int, "/", num2_int, "=", num1_int / num2_int)
    except (ValueError, ZeroDivisionError):
        print("Error!")
        print("Please try again!")

First number: (Press q for quit the program): 45
Second number: 9
45 / 9 = 5.0
First number: (Press q for quit the program): 100
Second number: 10
100 / 10 = 10.0
First number: (Press q for quit the program): 100
Second number: "HAHA"
Error!
Please try again!
First number: (Press q for quit the program): 45
Second number: 0
Error!
Please try again!

In [ ]:
"""
exception handling in functions
using raise command
"""


def reverse(s):

    if (type(s) != str):
        raise ValueError("Please enter a String type.")
    else:
        return s[::-1]

In [ ]:
reverse("python")

'nohtyp'

In [ ]:
reverse(12)

ValueError: Please enter a String type.

In [ ]:
#finally
try:
    a = int(input("number1:"))
    b = int(input("number2:"))
    print(a/b)
except ValueError:
    print("Please Check value out")
except ZeroDivisionError:
    print("it cannot be divided by zero")
finally:
    print("show must go on")
    print("Hello world")

number1:3
number2:0
it cannot be divided by zero
show must go on
Hello world

# Intro to Object Oriented Programming

Every entity we see around us is an object.
Each object has its own attributes and a set of functions (methods) they perform.

The concept we call class is also the data types that enable us to generate objects.

In [ ]:
sesli_harfler = 'aeıioöuü'
sayac = 0
def kelime_al():
    return input('Bir kelime giriniz:')

def sesli_harf(harf):
    return harf in sesli_harfler

def artır(sayac,kelime):
    for harf in kelime:
        if sesli_harf(harf):
            sayac = sayac + 1
    return sayac

def ekrana_bas(kelime):   
    mesaj = '{} kelimesinde {} sesli harf var.'
    print(mesaj.format(kelime,artır(sayac,kelime)))
    
def calıstır():
    kelime = kelime_al()
    ekrana_bas(kelime)

calıstır()

Bir kelime giriniz:Hello World
Hello World kelimesinde 3 sesli harf var.

In [ ]:
class HarfSayacı:
    def __init__(self):
        self.sesli_harfler = 'aeıioöuü'
        self.sayaç = 0

    def kelime_sor(self):
        return input('Bir kelime girin: ')

    def seslidir(self, harf):
        return harf in self.sesli_harfler

    def artır(self):
        for harf in self.kelime:
            if self.seslidir(harf):
                self.sayaç += 1
        return self.sayaç

    def ekrana_bas(self):
        mesaj = "{} kelimesinde {} sesli harf var."
        sesli_harf_sayısı = self.artır()
        print(mesaj.format(self.kelime, sesli_harf_sayısı))

    def çalıştır(self):
        self.kelime = self.kelime_sor()
        self.ekrana_bas()

if __name__ == '__main__':
    sayaç = HarfSayacı()
    sayaç.çalıştır()

In [ ]:
class Worker():
    pass


"""
class Worker:
    pass
"""

'\nclass Worker:\n    pass\n'

In [ ]:
#class attributes
class Car():
  colour = "yellow"
  brand = "xyz"
  door = 4

In [ ]:
#instantiation
car1 = Car()

print(car1)

<__main__.Car object at 0x00000180ADF5DE08>

In [ ]:
print(car1.colour)
print(car1.brand)
print(car1.door)

yellow
xyz
4

In [ ]:
car2 = Car()

car2.colour

'yellow'

In [ ]:
#We can also call attributes over the class without creating an object.

Car.door

4

In [ ]:
Car.brand

'xyz'

In [ ]:
dir(car1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'brand',
 'colour',
 'door']

In [ ]:
"""
In order to create each object with different values at the beginning,
we need to send the values of the objects.
For this, we use a special method: __init () __

The init () method is defined as a constructor function.

It is the first function that is automatically called up while creating our objects.

By defining this method specially, we can create our objects with different values.

"""

In [ ]:
class Car2():

  def __init__(self): 
    print("init function calling...")

In [ ]:
car_init = Car2()
car_init

init function calling...

In [ ]:
"""

self= to access any variable or other methods in the defined class.

"""

In [ ]:
car = Car2()

init function calling...

In [ ]:
class Car3():

  def __init__(self,colour,brand,door):
    print("Hello Car world")
    self.colour = colour
    self.brand = brand
    self.door = door
    print(self.colour,self.brand,self.door)


red_car = Car3("red", "abc",2)

yellow_car = Car3("yellow", "xyz", 4)

print(red_car.colour)
print(yellow_car.brand)

Hello Car world
red abc 2
Hello Car world
yellow xyz 4
red
xyz

In [ ]:
blue_car = Car3("black","34abc23",5)
print(blue_car)

Hello Car world
black 34abc23 5
<__main__.Car3 object at 0x00000180ADF53048>

In [ ]:
class Person():
  name = ""
  age = 0
    
  def __init__(self, personName, personAge):
    self.name = personName
    self.age = personAge


  def welcomePerson(self):
    print("Hello " + self.name)

  
  def showAge(self):
    print(self.age)

In [ ]:
person1 = Person ("Asli", 28)

person1.welcomePerson()

Hello Asli

In [ ]:
person1.showAge()

28

In [ ]:
class Person3():

  def __init__(self, name, age):
    self.name = name
    self.age = age
    self.language = []
 


  def welcomePerson(self):
    print("Hello " + self.name)

  
  def showAge(self):
    print(self.age)


  def addLang (self, new_lang):
    print("Adding new language..")
    self.language.append(new_lang)

  
  def showInfo(self):
    print("{} is {} years old and can speak these languages: ".format(self.name,self.age))
    for i in self.language:
      print(i)

In [ ]:
person3 = Person3("asli",28)

In [ ]:
person3.welcomePerson()

Hello asli

In [ ]:
person3.showAge()

28

In [ ]:
person3.addLang("german")

Adding new language..

In [ ]:
person3.showInfo()

asli is 28 years old and can speak these languages:
german
german

In [ ]:
person3.addLang("english")

Adding new language..

In [ ]:
person3.showInfo()

asli is 28 years old and can speak these languages:
german
german
english